li.pods-zebra-even {
	display: block;
	width: 50%;
	float: left;
	clear: none;
}

li.pods-zebra-odd {
	display: block;
	width: 50%;
	float: left;
	clear: both;
}


.stuffbox.pods-export-code {
	width: 782px;
	margin: 15px 15px 0 0;
}

.stuffbox.pods-export-code h3 {
	font-size: 15px;
	font-weight: normal;
	line-height: 1;
	padding: 7px 10px;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}

.stuffbox.pods-export-code .submit {
	clear: both;
}

.pods-export-code div.pods-manage-field .pods-field-option-group {
	padding-top: 0;
}

#feedback {
	width: 100%;
	height: 400px;
}