.export-to-code-section {
	background-color: #e8e8e8;
	padding: 1em;
	border: 1px solid #aaa;
}

.export-to-code-section ul {
	overflow: auto;
	margin: 2em 0;
}

li.pods-zebra-even {
	display: block;
	width: 50%;
	float: left;
	clear: none;
}

li.pods-zebra-odd {
	display: block;
	width: 50%;
	float: left;
	clear: both;
}

.button-primary {
	padding: 0 2em;
}

.output-wrapper {
	margin: 1em 0 0 0;
}
.output-wrapper textarea {
	width: 100%;
	height: 30em;
}
